<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{{ title }}</title>
    <link rel="stylesheet" href="/shared/styles/tailwind.css">
    <link rel="stylesheet" href="/shared/hub-button.css">
    <link rel="stylesheet" href="/shared/styles/common.css">
    <link href="https://fonts.googleapis.com/css2?family=Google+Sans:wght@400;500;700&family=Roboto:wght@400;500&display=swap" rel="stylesheet">
</head>
<body class="antialiased bg-gray-50 text-gray-800">
    {% if nav %}
        {% include "partials/backButton.njk" %}
    {% endif %}
    {% block content %}{% endblock %}
    {% include "partials/footer.njk" %}
    {% block scripts %}{% endblock %}
</body>
</html>
